h1, h2, h3, h4, h5, h6{
	font-family: Georgia, Verdana, "Times New Roman", Times, serif;
	color:#fff;
}
.cleaner {clear: both; line-height: 0px; font-size: 0px;}
.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

a:hover{
	text-decoration:underline;
}
.home-wrapper{
	background:#000;
}
.sub-wrapper{
	background:#000 url('../images/flaming-x.jpg') no-repeat 50% -30px;
}
.header{
	background-image:url('../images/header-bg.png');
	background-repeat:repeat;
	z-index:100;
}
/*.header:after{
	content: url('../images/header-btm.png');
}*/
.menu {margin-bottom: 10px;}
.menu ul{
	width:50%;
	float:left;
	list-style:none;
	/*border-top:1px dashed #ccc;*/
	padding-bottom: 0;
	margin-top:20px;
	margin-bottom: 0;
	font-weight:bold;
}
.menu li{
	/*border-bottom:1px dashed #ccc;*/	
	margin-left:10px;
	padding: 2px 0;
	min-width:125px;
}
.menu li a{
	color:#fff;
	text-transform:uppercase;
	font-size:10pt;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
}
.menu li a:hover{
	font-weight: bold;
	text-decoration:  underline;
	text-shadow:0px 0px 4px #466fb6;
}
ul.inline-list, ul.link-list {
    margin: 70px 0px 17px 0px;
}
.active{
	text-decoration:underline;
}
.contact{
	background: url('../images/contact.png') no-repeat left;
}
.contact a{
	color:#CDA158;
	padding-left:20px;
}
.facebook{background: url('../images/facebook.png') no-repeat left;}
.facebook a {padding-left:20px;}
a.facebook_like {position: relative; top: -7px; float: right; z-index: 1; padding: 0 0 0 0; margin-right: 45px;}
div#google_translate_element {float: left; z-index: 10000; padding: 6px 0 0 0; margin-right: 14px;}
div#google_translate_element a:hover {text-decoration: none;}
.goog-te-menu-value {font-size: 12px!important;}

.home-content{
	height:610px;
}
.home-content h1{
	margin-top:350px;
	margin-right:30px;
	text-align:right;
	font-size:30px;
	text-transform:uppercase;
	text-shadow:4px 2px #000;
}
.content{
	font-family:Verdana, Geneva, sans-serif;
	border:1px solid #466fb6;
	border-radius:10px;
	min-height:680px;
    background: #00072a;
}
.content h1{
	border-bottom:1px solid #466fb6;
	padding-bottom:10px;
	background: url('../images/content-h1-bg.png')no-repeat bottom center;
}
.content ul{
	padding-left:45px;
}
.sire{
	background-color:#afc9ff;
}
.dam{
	background-color:#99baff;
}
.pedigree{
	border:0;
}
.pedigree td{
	vertical-align:middle;
}
.pedigree a{
	color:#000;
	text-decoration:underline;
}
.news{
	border-bottom:1px solid #fff;
	padding-top:20px;
}
.news img{
	padding-bottom:20px;
}
.news h2{
	margin-top:0px;
	font-size:24px;
}
.news a{
	padding-bottom:30px;
}
.contactimg{
	background: url('../images/contact/contact.png') no-repeat center top;
	height:330px;
}
.contactimg .contactinfo{
	position:relative;
	top:220px;
}
.contactinfo{
	position:relative;
	top:100px;
}
.contactinfo a:hover{
	text-shadow:2px 2px 3px #466fb6;
	transition: text-shadow .3s ease-in;
	-webkit-transition: text-shadow .3s ease-in;
	-moz-transition: text-shadow .3s ease-in;
	-ms-transition: text-shadow .3s ease-in;
}
.contactinfo strong{
	text-shadow:2px 2px 3px #466fb6;	
	font-size:13px;
}
.contacthead h1{
	margin-bottom:0px !important;
}
.media li{
	background-color:#000;
	border:5px solid #003;
	padding:5px !important;
	min-height:365px;
	display:table-cell;
	vertical-align:center;
}
.button{
	color:#000;
}
.blue{
	background:#466FB6;
	border: 1px solid #466FB6;
}
.blue:hover, .blue:focus {
	background-color: #00178a;
}
.highlight{
	background:#466FB6;
}
.nominations{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
.home-foot{
	background:#1f3668;
	border-top:1px solid #466FB6;
	border-bottom:1px solid #466FB6;
	padding:10px 0;
	position:relative;
	top:-50px;
	height:70px;
	z-index:100;
}
.home-foot img{
	position:relative;
	top:-50px;
}
.home-foot span{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#CDA158;
	display:block;
	text-transform:uppercase;
	font-weight:bold;
}
footer a{
	color:#466fb6;
}
footer a:hover{
	color:#fff;
}
.home-wrapper footer, .home-wrapper .credit{
	position:relative;
	top:-60px;
}
.sub-wrapper footer{
	background-color:#000;
	border-radius:10px;
}
.sub-wrapper footer a{
	line-height:40px;
}
.credit a, .credit p{
	font-size:10px;
	color:#ccc;
}
.credit{
	background-color:#000;
	border-radius:10px;
}
.translate{
	background:#eee;
}
/* JAVASCRIPTS */
#featured { background: url(spinner.gif) center center #000; height: 300px; }
#featured img { display: none; }
#featured.orbit { background: none; }
#featured.orbit img { display: block; } 
.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.orbit-wrapper .timer {display:none;}

.clearing-assembled .clearing-container ul[data-clearing] li.fix-height img {
	height:auto;
	width:100%;
}
ul.orbit-bullets li.has-thumb{
	border:4px solid #fff;
}
.visible-img img {
	padding-bottom:42px;
}
@media only screen and (max-width: 960px) {
#featured ul{
	text-align:center;	
}
.gallery{
	display:block;
}
}
@media only screen and (max-width: 767px) {
.home-content {
	height: auto;
}
.home-foot, footer{
	background:#000715;
	height: auto;
}
.home-foot .five{
	padding-bottom:40px;
}
.news{
	text-align:center;
}
.contactinfo{
	position:inherit;
}
.contactpg{
	background:none;
	height:auto;
}

.contactimg{
	background: none !important;
}
.contactimg .contactinfo{
	position:relative;
	top:0px;
}
.contactinfo a:hover{
	text-shadow:2px 2px 3px #466fb6;
	transition: text-shadow .3s ease-in;
	-webkit-transition: text-shadow .3s ease-in;
	-moz-transition: text-shadow .3s ease-in;
	-ms-transition: text-shadow .3s ease-in;
}
.contactinfo strong{
	text-shadow:2px 2px 3px #466fb6;	
	font-size:13px;
}
.contacthead h1{
	margin-bottom:0px !important;
}
}


